/*  Browse Happy prompt
 *  ========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}
