@import "compass/css3";
table {
  margin-top: 2em;
  width: columns(8,10);
  font-family: 'Quicksand', sans-serif;
}

th {
  text-align: left;
}

td, th {
  padding: .5em;
}

table {
  border: 1px solid white; /*#7689D7;*/
  padding: 1em;
}
