section
  h3#mbsr.l-pullout-beta Mindfulness Based Stress Reduction (MBSR)  
  h4.l-pullout-gamma Ein Trainingsprogramm nach Dr. Jon Kabat-Zinn
  p
    | Stressbewältigung durch Achtsamkeit (MBSR) ist ein effektives Anti-Stressprogramm, dass die positiven Wirkungen von Achtsamkeit und Meditation mit den Erkenntnissen moderner Medizin und Stressforschung verbindet. 
  br  
    | Es hilft uns unsere natürlichen Kräfte zu mobilisieren und schwierigen Situationen zunehmend mit Akzeptanz, Klarheit und Gelassenheit zu begegnen. So gewinnen wir neue Perspektiven und Handlungsräume.
  br
