/*  ==========================================================================
 *  Colors
 *  ========================================================================== */


$heading-color: #222;
$grey: #f2f2f2;
$creme: #f5f5e0;
$light-blue: #B9D7D9;
$grey-blue: #668284;
