//
// Fixed-width Susy Grid System
//

$show-grid-backgrounds: true;

@import "susy";

// For full Susy documentation, visit: http://susy.oddbird.net/tutorial/

$total-columns: 10; // 10 columns
$column-width: 4em; // columns are 4em wide
$gutter-width: 1em; // with 1em gutters
$grid-padding: 0em; // and 1em padding on the grid container
$container-style: fluid;

/*// Define grid constants.*/
/*$total-columns: 12;*/

/*// You can use ems, px or % to override these defaults.*/
/*$column-width: 60px;*/
/*$gutter-width: 20px;*/
/*$grid-padding: 10px;*/
/*$side-gutter-width: 0px;*/
