/*  ==========================================================================
 *  Layout
 *  ========================================================================== */

@import "compass/css3";

@import "compass/layout/sticky-footer";
@include sticky-footer(100px);

@import 'modular-scale';
$ms-base: .2em;
$ms-ratio: $golden;


body {
  background-image: url(../images/background_patterns/debut_light.png);
  background-repeat: repeat;
}

.container {
  // include `container` if this element will contain a grid system.
  @include container($total-columns);
  // gives us our background stripes for development.
  @include susy-grid-background;
}



.Header, .Footer, #map {
  @include bleed($grid-padding);
}

a {
  color: $heading-color;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.quicksand {
  color: $heading-color;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
.Header {
  height: 768px;
  background-image: url(../images/singing-bowl-c.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.Footer {
  height: 100px;
  padding-top: 2em;
}

.l-dark-bg-pattern {
  background-image: url(../images/background_patterns/debut_dark.png);
  background-repeat: repeat;
}

.l-bg-light-blue {
  /*background-color: $light-blue;*/
  /*@include bleed($grid-padding);*/
}

.l-txt-bottom {
  position: absolute;
  bottom: 15px;
}

#logo {
  background-color: white;
  border-right: 1px solid $grey;
  border-bottom: 1px solid $grey;
  border-left: 1px solid $grey;
  text-align: center;
  width: 150px;
  height: 200px;
  margin-left: 100px;
  position: relative;
  display: inline-block;
}

.f-logo {
  @extend .delta;
  font-size: 24px;
}

#map {
  height: 280px;
  @include clearfix;
}

.l-time-box {
  /*@include bleed($grid-padding);*/
  /*@include single-box-shadow;*/
  padding: 2em;
  background-color: $light-blue;
}

.l-content {
  @include prefix(1);
  width: columns(8 ,$total-columns);
  @include clearfix;
}

/*
 *FIXME how do i break out of teh container?
 */
.l-full-span {
  width: span-columns($total-columns ,$total-columns);
}

/*.l-pullout-alpha {*/
  /*padding-top: 1.5em;*/
  /*padding-bottom: 1.5em;*/
  /*margin-left: -1em;*/
/*}*/

.l-pullout-alpha {
  padding-top: ms(4);
  padding-bottom: ms(4);
  /*margin-left: (-1 * ms(4));*/
}

.l-pullout-beta {
  padding-top: ms(3);
  padding-bottom: ms(3);
  /*margin-left: (-1 * ms(3));*/
}

.l-pullout-gamma {
  padding-top: ms(4);
  padding-bottom: ms(2);
  /*margin-left: (-1 * ms(3));*/
}

.l-ying-ruler {
  width: ms(4);
  height: ms(4);
  margin-top: ms(6);
  margin-bottom: ms(6);
  border: none;
  background: url(../images/yingyang.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.l-text-light {
  color: $creme;
}

.popup {
  position: relative;
  background: #fff;
  padding: 20px;
  width: auto;
  max-width: 60%;
  margin: 20px auto;
  color: #444;
}

.mfp-content {
  text-align: center !important;
}
/*
 * Basic settings
 */

