/*  ==========================================================================
 *  Layout
 *  ========================================================================== */

/*
 * Grids
 */

$total-columns  : 7;
$column-width   : 4.25em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
