/*  ==========================================================================
 *  Layout
 *  ========================================================================== */

/*
 * Grid
 */



/*
 *@import "susy";
 *
 *$indent-val: .5em !default;
 *$paragraph-vertical-whitespace: false !default;
 *
 *$total-columns  : 12;
 *$column-width   : 4em;[>6%;<]
 *$gutter-width   : 1em;
 *[>$side-gutter-width: 2em;<]
 *$grid-padding   : $gutter-width;
 *$show-grid-backgrounds: true;
 */




@import 'modular-scale';
$ms-base: .2em;
$ms-ratio: $golden;

/*
 * Colors
 */

$grey: #f2f2f2;

body {
  background-image: url(../images/background_patterns/debut_light.png);
  background-repeat: repeat;
}

.Header {
  height: 768px;
  width: 100%;
  background-image: url(../images/singing-bowl.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.Footer {
  height: 100px;

}

.l-dark-bg-pattern {
  background-image: url(../images/background_patterns/debut_dark.png);
  background-repeat: repeat;
}

.l-center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: #fff;
}

.l-txt-bottom {
  position: absolute;
  bottom: 15px;
}

#logo {
  background-color: white;
  border-right: 1px solid $grey;
  border-bottom: 1px solid $grey;
  border-left: 1px solid $grey;
  text-align: center;
  width: 150px;
  height: 200px;
  margin-left: 100px;
  position: relative;
}

#map {
  height: 280px;
}

/*.c-grid {*/
  /*@include span-columns(8 alpha, 12);*/
/*}*/

/*.l-grid {*/
  /*[>@include span-columns(3, 8);<]*/
  /*@include span-columns(8, 12);*/
  /*@include omega(12);*/
/*}*/

/*.r-grid {*/
  /*@include span-columns(8, 12);*/
  /*@include omega(8);*/
/*}*/

.l-content {
  max-width: 34em;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}


/*.l-pullout-alpha {*/
  /*padding-top: 1.5em;*/
  /*padding-bottom: 1.5em;*/
  /*margin-left: -1em;*/
/*}*/

.l-pullout-alpha {
  padding-top: ms(4);
  padding-bottom: ms(4);
  margin-left: (-1 * ms(4));
}

.l-pullout-beta {
  padding-top: ms(3);
  padding-bottom: ms(3);
  margin-left: (-1 * ms(3));
}

.l-pullout-gamma {
  padding-top: ms(4);
  padding-bottom: ms(2);
  margin-left: (-1 * ms(3));
}

.l-ying-ruler {
  width: ms(4);
  height: ms(4);
  margin-top: ms(6);
  margin-bottom: ms(6);
  border: none;
  background: url(../images/yingyang.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/*
 * Basic settings
 */

